<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>companies</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div th:include="/fragments/header:: lang"></div>
<a th:text="#{companies.logout}" href="/logout">Logout</a>

<div class="table">
    <a th:text="#{companies.home.page}" href="/" style="color: #000000">Home Page</a> | <span th:text="#{companies.companies}" style="color:#100000;">Companies</span> |
    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" th:text="#{companies.add.company}"  href="/addCompany"> Add company </a>

    <table border="1">

        <tr>
            <th th:text="#{companies.id}">id</th>
            <th th:text="#{companies.name}">name</th>
            <th th:text="#{companies.size}">size</th>
            <th th:text="#{companies.address}">address</th>
            <th th:text="#{companies.action}">action</th>
        </tr>
        <tr th:each="company:${companies}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.size}"></td>
            <td th:text="${company.address}"></td>
            <td><a th:href="@{/deleteCompany/{id}(id=${company.id})}" href="#"><span>Delete</span></a></td>
        </tr>
    </table>
</div>
</body>
</html>