<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div th:include="/fragments/header:: lang"></div>
<a href="/logout">Logout</a>

<div class="employeesTable">
    <a th:text="#{companies.home.page}" href="/" style="color: #000000">Home Page</a> | <span th:text="#{index.employees}" style="color:#000000;">Employees</span> | <a th:text="#{employees.add.employee}" href="/addEmployee"
                                                                                                           style="border: #000000; color: #070000">
    Add employee </a>
    |<a th:text="#{employees.send.message}" href="/sendMessage" style="border: #000000; color: #000000"> Send message </a> | <a th:text="#{employees.all.messages}" href="/allMessages"
                                                                                            style="border: #000000; color: #000000">
    All messages </a>   |  <a th:text="#{employees.topics}" href="/topics"
                                   style="border: #030000; color: #020000">Topics </a> |
    <table border="1">

        <tr>
            <th th:text="#{companies.id}">Id</th>
            <th th:text="#{companies.name}" >Name</th>
            <th th:text="#{employees.surname}">Surname</th>
            <th th:text="#{employees.email}">Email</th>
            <th th:text="#{employees.phone.number}">Phone number</th>
            <th th:text="#{employees.salary}">Salary</th>
            <th th:text="#{employees.position}">Position</th>
            <th th:text="#{companies.companies}">Companies</th>
        </tr>


        <tr th:each="employee:${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.company.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>