<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Topics</title>
</head>
<body>
<a href="/addTopic"
   style="border: #000000; color: #000000">Add Topic </a>

        <div th:each="topic:${topics}" style="border: 1px solid #000000;">
            <a th:href="@{/topics/{id}(id=${topic.id})}"> <h3 th:text = "${topic.name}"></h3></a>
        <p th:text = "${topic.employee.company.name}"></p>
        <p th:text = "${topic.createdDate}"></p>

    </div>
</body>
</html>